<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
        <div class="container">
            <div class="logo">todoList</div>
            <div class="input-area">
                <input type="text" @input="handleInput" :value="curTask">
                <button @click="addTask">添加</button>
            </div>
        </div>
        </div>
        <div class="container">
            <h2>
                <span>正在进行</span>
                <span class="task-num">{{needDoList.length}}</span>
            </h2>
            <ul class="task-list">
                <li v-for="(task, index) in needDoList" :key="task.id">
                    <div>
                        <input type="checkbox" @change="doCheck(index, 'need')">
                        <span>{{task.title}}</span>
                    </div>
                    <button @click="deleteTask(index, 'need')">删除</button>
                </li>
            </ul>
        </div>
        <div class="container">
            <h2>
                <span>已经完成</span>
                <span class="task-num">{{completeList.length}}</span>
            </h2>
            <ul class="complete-list task-list">
                <li v-for="(task,index) in completeList" :key="task.id">
                    <div>
                        <input type="checkbox" @change="doCheck(index, 'complete')">
                        <span>{{task.title}}</span>
                    </div>
                    <button @click="deleteTask(index, 'complete')">删除</button>
                </li>
            </ul>
        </div>

    </div>

    <script>


        const vm = new Vue({
            el: '#app',
            data: {
                curTask: '',
                needDoList: [],
                completeList:[]
            },
            methods: {
                handleInput(e){
                    // console.log(e.target.value);
                    this.curTask = e.target.value;
                },
                addTask(){
                    if(this.curTask === ''){
                        return;
                    }
                    this.needDoList.push({
                        title: this.curTask,
                        id: Math.random()
                    });
                    this.curTask = '';
                },
                deleteTask(index, type){
                    const toDoList = type === 'need'? this.needDoList: this.completeList;
                    toDoList.splice(index, 1);
                },
                doCheck(index, type){
                    if(type === 'need'){
                        let completeTask = this.needDoList.splice(index, 1);
                        this.completeList.push(...completeTask);
                    }
                    else {
                        let noCompleteTask = this.completeList.splice(index, 1);
                        this.needDoList.push(...noCompleteTask);
                    }
                }
            }
        });

        


    </script>
</body>

</html>