<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./jquery.js"></script>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="logo">
            <img src="https://dss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/logo_white-d0c9fe2af5.png"
                alt="">
        </div>
        <div class="search-box">
            <span class="search-area">
                <input type="text" maxlength="100" v-model="inputVal" @focus="() => inputFocus = true"
                    @blur="() => inputFocus = false">
                <span class="icon icon-paizhao"></span>
            </span>
            <span class="search-btn">百度一下</span>
        </div>

        <ul class="search-list" v-show="inputFocus && searchResList.length">
            <li v-for="res in searchResList" :key="res">{{res}}</li>
        </ul>
    </div>

    <script>


        const vm = new Vue({
            el: '#app',
            data: {
                inputVal: '',
                inputFocus: false,
                searchResList: []
            },
            methods: {
                searchRes(res) {
                    console.log(res.s);
                    this.searchResList = res.s;
                }
            },
            watch: {
                inputVal() {
                    $.ajax({
                        dataType: 'jsonp',
                        url: 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',
                        data: {
                            wd: this.inputVal,
                            cb: 'vm.searchRes'   // 回调函数的名称
                        }
                    })
                }
            }
        });


    //     url: https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su

    //     请求方式：jsonp

    //     发送参数：
    //     1. wd：字符串，搜索的文字
    //     2. cb：字符串，callback函数的名字

    // {
    //     q: String,
    //     p: Boolean,
    //     s: Array   // 搜索联想列表
    // }


    </script>
</body>

</html>